<%= link_to "口コミを投稿したい店がない場合", new_store_path %>

<h3>検索結果</h3>
<div class="search-result"> 
    <table>
        <thead>
            <tr>
            <th>ルーム名</th>
            <th>住所</th>
            <th>最寄駅</th>
            </tr>
        </thead>

        <% @stores.each do |store| %>
            <tr>
            <td><%= link_to "#{store.name}", controller: 'stores', action: 'show', id: store.id  %></td>
            <td><%= store.address %></td>
            <td><%= store.nearest_station %></td>
            </tr>
        <% end %>
    </table>
</div>
