<h4>管楽器屋さん口コミサイトとは</h4>

<p>管楽器屋さん口コミサイトとは、ユーザーの方の楽器修理、販売等の口コミの投稿により、様々な情報を参考にできるサイトです。プロの楽器演奏者、趣味で楽しむアマチュア楽器演奏者、学校の部活動の顧問の先生、皆様の口コミにより成り立っております。</p>
<div>
  <%= link_to "登録はこちら", new_user_registration_path, class: "header-nav" %>
</div>
