<footer class="footer has-background-black has-text-white">
  
  <div class="has-text-right mb-3">
    <%= link_to '利用規約', page_path('about'), class: "has-text-white" %>
  </div>
  <div class="has-text-right mb-3">
    <%= link_to 'プライバシーポリシー', page_path('privacypolicy'), class: "has-text-white" %>
  </div>
  <p class="has-text-centered">
    2022.CopyRight
  </p>
</footer>
