<footer class="footer has-text-centered has-background-black has-text-white">
  <div>
    <%= link_to '利用規約', page_path("about"), class: "has-text-white" %>
  </div>
  <div>
    <%= link_to 'プライバシーポリシー', page_path('privacypolicy'), class: "has-text-white" %>
  </div>
  2022.CopyRight
</footer>
